@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<base target="_self">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GRate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <form id="myform" asp-action="Logout" asp-controller="Account">
            <div class="mynav mycontainer" style="display:flex; justify-content:space-between; align-items:center;">
                <div>
                    <a asp-action="Index" asp-controller="Home">Главная</a>
                    <a href="#games">Игротека</a>
                    <a class="switchbutts" asp-controller="Home" asp-action="LK">Мой аккаунт</a>
                    <a class="switchbutts" href="#sites">Статьи</a>
                     @if (User.Identity.IsAuthenticated)
                      {
                        <a href="#" onclick="document.getElementById('myform').submit(); return false;" class="switchbutts">Офнуть</a>
                      }
                </div>
                <div class="textglow">
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <a class="switchlogin" asp-controller="Account" asp-action="Login">Войти</a>
                    }                   
                </div>
            </div>
        </form>
    </header>
    <div class="mycontainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light">
        <div class="mycontainer glassmorph" style="display:flex; justify-content:space-between; align-items:center;">
            <div style="padding-left: 15px;">
                <a href="https://vk.com/marshallthehollow" target="_blank"><img src="~/res/vk.png" width="25" height="25" alt="VK"></a>
                <a href="https://www.youtube.com/watch?v=MX_ZTi_QuaY" target="_blank"><img src="~/res/yt.png" width="25" height="25" alt="YT"></a>
                <a href="https://open.spotify.com/artist/0o9dzN70KavcG7J4Je9uro" target="_blank"><img src="~/res/spoty.png" width="25" height="25" alt="Spotify"></a>
            </div>
            <div style="padding-right: 15px;">
                <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#ffffff">GRate&copy;</a> - 2021
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*<script>

    var IsLogin = new Boolean(false);
    const sbutts = document.querySelectorAll('.switchbutts');
    const lbutt = document.querySelectorAll('.switchlogin');

    function Login() {
        IsLogin = true;
        ButtCheck();
    }

    function Logout() {
        IsLogin = false;
        ButtCheck();
    }

    function ButtCheck() {
        sbutts.forEach((elems) => {
            if (IsLogin) {
                elems.style.display = "flex";
            }
            else {
                elems.style.display = "none";
            }
        })

        lbutt.forEach((elem) => {
            if (IsLogin) {
                elem.style.display = "none";
            }
            else {
                elem.style.display = "flex";
            }
        })
    }
</script>*@

