@{
    ViewData["Title"] = "GRate - Добро пожаловать";
}
<br /><br /><br />
<div class="text-center">
    <h1>Добро пожаловать в GRate</h1>
</div>
<div class="text-center">
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
    <h1>РУССКИЕ ВПЕРЕД</h1>
</div>

