@{
    ViewData["Title"] = "GRate - Главная страница";
}
<br /><br /><br />
            <div class="text-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <h3 style="color:#fff">Добро пожаловать в GRate, @User.Identity.Name</h3>
                }
                else
                {
                    <h3 style="color:#fff">Добро пожаловать в GRate, незнакомец</h3>
                }
            </div>
<body>
    <div class="MenuCenter">
        <div class="MainMenu">
            <img class="MainMenuImg" src="https://sun9-62.userapi.com/impg/TfXUgJraXg1DINahIkU6EEXhSgVQC8-qNDa__A/N--fCMx1e8M.jpg?size=2160x2160&quality=96&sign=b91c12f064d420d10c584d8a6cb1975c&type=album" />
            <a class="MainMenuText" href="#ya">Игра от создателей Lonely Knight уже завоевала топы игровых рейтингов.</a>
        </div>
        <div class="MainMenu">
            <img class="MainMenuImg" src="https://sun9-61.userapi.com/impg/cWOgN-FIUayVBK-XjJmQFPOdAVMlOiwbllmMaQ/wXesl8yGBFo.jpg?size=2160x2160&quality=96&sign=729f8a69198f7208d828bdc1700edc46&type=album" />
            <a class="MainMenuText" href="#ustal">Два легендарных разработчика объединились ради этого шедевра.</a>
        </div>
        <div class="MainMenu">
            <img class="MainMenuImg" src="https://sun9-31.userapi.com/impg/83o0rcodH6B98SdSb0BGO6a1-qWPObEkuBoQ_g/awS2Vq5_B9M.jpg?size=2048x2048&quality=96&sign=c3da54bc825b82f16bb46db22f9f66bd&type=album" />
            <a class="MainMenuText" href="#hochu">Расскрыта личность главного гейм-дизайнера PHS. Им оказался...</a>
        </div>
        <div class="MainMenu">
            <img class="MainMenuImg" src="https://sun9-22.userapi.com/impg/8PaT_FetrQe9XkfxJTk7o1ILQZ6yca8PD_5dag/_tATS03fEY4.jpg?size=2160x2160&quality=96&sign=369c411e9380c9cd71e59770305224c2&type=album" />
            <a class="MainMenuText" href="#sdohnut">Lonely Knight - проходняк или же нестареющая классика?</a>
        </div>
    </div>
</body>


