@{
    ViewData["Title"] = "GRate - Главная страница";
}
<br /><br /><br />
<div class="text-center">
    <h1 style="color:#fff">Добро пожаловать в GRate</h1>
</div>
<body>
    <div class="MenuCenter">
        <div class="MainMenu">
            <img class="MainMenuImg" src="~/res/test/anime5.png" />
            <a class="MainMenuText" href="#hui1">Игра от создателей Lonely Knight уже завоевала топы игровых рейтингов.</a>
        </div>
        <div class="MainMenu">
            <img class="MainMenuImg" src="~/res/test/sonic2(txt)2.png" />
            <a class="MainMenuText" href="#hui2">Два легендарных разработчика объединились ради этого шедевра.</a>
        </div>
        <div class="MainMenu">
            <img class="MainMenuImg" src="~/res/test/ава.png" />
            <a class="MainMenuText" href="#hui3">Расскрыта личность главного гейм-дизайнера PHS. Им оказался...</a>
        </div>
        <div class="MainMenu">
            <img class="MainMenuImg" src="~/res/test/обложка готовая w logo n singles.png" />
            <a class="MainMenuText" href="#hui4">Lonely Knight - проходняк или же нестареющая классика?</a>
        </div>
    </div>
</body>


