@using System.Security.Claims;
@{
    ViewData["Title"] = "GRate - Личный Кабинет";
}
<br />
<br />
<br />
<body>
    <div class="mycontainer">
        <h1 style="color:#fff">Личный кабинет</h1>
        <div class="mynavLK">
            <a onclick="ProfileOn()">Профиль</a>
            <a onclick="myGamesOn()">Мои игры</a>
            <a onclick="FriendsOn()">Друзья</a>
            @if(ViewBag.role == "admin")
             {
                <a id="AdminOnly" onclick="addGameOn()">Добавить игру</a>
             }          
        </div>
        <br />
        <div class="glassmorph" style="padding:20px">
            <div id="Profile">
                <h3 style="color:#fff">Профиль</h3>
                <div style="display:inline-block">
                    <div>
                        <h6>Имя пользователя</h6>
                        <input type="text" class="Logtext" name="AccountName" value="AccountName" />
                    </div>
                    <div style="margin-bottom:8px;">
                        <h6>Пароль</h6>
                        <div class="password" style="position: relative;">
                            <input type="password" class="Logtext" id="password-input" name="AccountPassword" value="AccountPassword" />
                            <a class="password-control" onclick="return show_hide_password(this);"></a>
                        </div>
                    </div>
                </div>
                <div class="AccountImg">
                    <img src="~/res/logo.png" />
                </div><br />
                <button type="submit" class="logbuttons">Сохранить изменения</button>
            </div>
            <div id="myGames" style="display: none;">
                <h3 style="color:#fff">Мои игры</h3>
                <h6 class="text-center">Их нет :с</h6>
            </div>
            <div id="Friends" style="display: none;">
                <h3 style="color:#fff">Друзья</h3>
                <h6 class="text-center">Ха-ха, у тебя нет друзей</h6>
                <h6 class="text-center">(или разработчик еще не реализовал такую функцию)</h6>
            </div>
            <div id="addGame" style="display: none;">
                <h3 style="color:#fff">Добавить игру</h3>
                <form action="/Home/LK" method="post">
                    <div>
                        <h6>Название игры</h6>
                        <input type="text" class="Logtext" name="GameName" required />
                    </div>
                    <div>
                        <h6>Название разработчика</h6>
                        <input type="text" class="Logtext" name="GameCompanyName" required />
                    </div>
                    <div>
                        <h6>Жанр игры</h6>
                        <input type="text" class="Logtext" name="GameGenre" required />
                    </div>
                    <div>
                        <h6>Дата выхода</h6>
                        <input type="date" class="Logtext" name="GameReleaseTime" required />
                    </div>
                    <button type="submit" class="logbuttons" style="float:right">Фиксируем</button>
                    <br />
                </form>
            </div>
        </div>
    </div>
</body>


<script>

    var divProfile = document.getElementById("Profile");
    var divmyGames = document.getElementById("myGames");
    var divFriends = document.getElementById("Friends");
    var divaddGame = document.getElementById("addGame");

    function ProfileOn() {
        OffAll();
        divProfile.style.display = "block";
    }

    function myGamesOn() {
        OffAll();
        divmyGames.style.display = "block";
    }
    function FriendsOn() {
        OffAll();
        divFriends.style.display = "block";
    }

    function addGameOn() {
        OffAll();
        divaddGame.style.display = "block";
    }

    function OffAll() {
        divProfile.style.display = "none";
        divmyGames.style.display = "none";
        divFriends.style.display = "none";
        divaddGame.style.display = "none";
    }

    function show_hide_password(target) {
        var input = document.getElementById('password-input');
        if (input.getAttribute('type') == 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
        }
        return false;
    }
</script>