@{
    ViewData["Title"] = "GRate - Личный Кабинет";
}
@model GRate.ViewModel.RewriteModel
<br />
<br />
<br />
<body>
    <div class="mycontainer">
        <h1 style="color:#fff">Личный кабинет</h1>
        <div class="mynavLK">
            <a onclick="ProfileOn()">Профиль</a>
            <a onclick="myGamesOn()">Мои игры</a>
            <a onclick="FriendsOn()">Друзья</a>
            @if (ViewBag.role == "admin")
            {
                <a id="AdminOnly" asp-action="Register" asp-controller="Game">Добавить игру</a>
            }
        </div>
        <br />
        <div class="glassmorph" style="padding:20px">
            <div id="Profile">
                <h3 style="color:#fff">Профиль</h3>
                <form asp-action="Rewrite" asp-controller="Account" asp-anti-forgery="true">
                    <div style="display:inline-block">
                        <div>
                            <h6>Имя пользователя</h6>
                            <input class="Logtext" asp-for="Login" placeholder="Логин" />
                        </div>
                        <div style="margin-bottom:8px;">
                            <h6>Старый пароль</h6>
                            <div class="password" style="position: relative;">
                                <input class="Logtext" asp-for="OldPassword" placeholder="Старый пароль" id="password-input" />
                                <a class="password-control" onclick="return show_hide_password(this);"></a>
                            </div>
                            <h6>Новый пароль</h6>
                            <div class="password" style="position: relative;">
                                <input class="Logtext" asp-for="NewPassword" placeholder="Новый пароль" id="password-input2" />
                                <a class="password-control" onclick="return show_hide_password2(this);"></a>
                            </div>
                        </div>
                    </div>
                    <div class="AccountImg" onclick="">
                        <img src="~/res/logo.png" />
                    </div><br />
                    <button type="submit" class="logbuttons">Сохранить изменения</button>
                </form>
            </div>
            <div id="myGames" style="display: none;">
                <h3 style="color:#fff">Мои игры</h3>
                <h6 class="text-center">Их нет :с</h6>
            </div>
            <div id="Friends" style="display: none;">
                <h3 style="color:#fff">Друзья</h3>
                <h6 class="text-center">Ха-ха, у тебя нет друзей</h6>
                <h6 class="text-center">(или разработчик еще не реализовал такую функцию)</h6>
            </div>           
        </div>
    </div>
</body>


<script>
    function NewImage{
        
    }
    var divProfile = document.getElementById("Profile");
    var divmyGames = document.getElementById("myGames");
    var divFriends = document.getElementById("Friends");

    function ProfileOn() {
        OffAll();
        divProfile.style.display = "block";
    }

    function myGamesOn() {
        OffAll();
        divmyGames.style.display = "block";
    }
    function FriendsOn() {
        OffAll();
        divFriends.style.display = "block";
    }

    function OffAll() {
        divProfile.style.display = "none";
        divmyGames.style.display = "none";
        divFriends.style.display = "none";
    }

    function show_hide_password(target) {
        var input = document.getElementById('password-input');
        if (input.getAttribute('type') == 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
        }
        return false;
    }
    function show_hide_password2(target) {
        var input = document.getElementById('password-input2');
        if (input.getAttribute('type') == 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
        }
        return false;
    }
</script>