@{
    ViewData["Title"] = "GRate - Мои игры";
}
@model GRate.ViewModel.ReviewModel;
<br />
<br />
<br />
<body>
    <div class="mycontainer">
        <h1 style="color:#fff">Личный кабинет</h1>
        <div class="mynavLK">
            <a asp-action="LK" asp-controller="Home">Профиль</a>
            <a asp-action="MyGames" asp-controller="Home">Мои игры</a>
            <a asp-action="Friends" asp-controller="Home">Друзья</a>
            @if (ViewBag.role == "admin")
            {
                <a asp-action="Register" asp-controller="Game">Добавить игру</a>
                <a asp-action="RegisterGenre" asp-controller="Game">Добавить жанр</a>
            }
        </div>
        <br />
        <div class="glassmorph" style="padding:20px">           
            <div>
                <h3 style="color:#fff">Мои игры</h3>
                <table style="width:100%">
                    <tr class="tablestyle">
                        <th>Название игры</th>
                        <th>Оценка</th>
                    </tr>
                    @foreach (GRate.Models.GameReview r in ViewBag.Review)
                    {
                        @if (r.UserId == ViewBag.uId)
                        {
                            <tr class="tdstyle">
                                <td>@r.Game</td>
                                <td>@r.Rate</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</body>