@{
    ViewData["Title"] = "GRate - Добавление игры";
}
@model GRate.ViewModel.GameRegisterModel
<br />
<br />
<br />
<body>
    <div class="mycontainer">
        <h1 style="color:#fff">Личный кабинет</h1>
        <div class="mynavLK">
            <a asp-action="LK" asp-controller="Home">Профиль</a>
            <a asp-action="LK" asp-controller="Home">Мои игры</a>
            <a asp-action="LK" asp-controller="Home">Друзья</a>
            <a id="AdminOnly" onclick="addGameOn()">Добавить игру</a>           
        </div>
        <br />
        <div class="glassmorph" style="padding:20px">    
            <form asp-action="Register" asp-controller="Game" asp-anti-forgery="true">
                <div>
                    <h3 style="color:#fff">Добавить игру</h3>
                        <div>
                            <h6>Название игры</h6>
                            <input type="text" class="Logtext" asp-for="GameName" required />
                        </div>
                        <div>
                            <h6>Название разработчика</h6>
                            <input type="text" class="Logtext" asp-for="CompanyName" required />
                        </div>
                        <div>
                            <h6>Жанр игры</h6>
                            <select asp-for="Genre">
                                <option value="rouge-like">rouge-like</option>
                            </select>
                        </div>
                        <div>
                            <h6>Описание игры</h6>
                            <input type="text" class="Logtext" asp-for="GameDiscription" height="800" required />
                        </div>
                        <div>
                            <h6>Дата выхода</h6>
                            <input type="date" class="Logtext" asp-for="GameReleaseTime" required />
                        </div>
                        <div>
                            <h6>Изображение игры</h6>
                            <input type="file" class="Logtext" asp-for="Image" required />
                        </div>
                        <button type="submit" class="logbuttons" style="float:right">Фиксируем</button>
                        <br />
                </div>
            </form>
        </div>
    </div>
</body>
